html {
    background-color: #FFECC9;
}

div {
    overflow: hidden;
}

.is-invisible {
    visibility: hidden;
}

ul.team {
     -webkit-tap-highlight-color:transparent;
}

ul.players {
    margin: 0 20px 0;
}

.nav.box {
    background-color:#FFC04D;
    -webkit-tap-highlight-color:transparent;
    margin-bottom: 0.3rem;
}

.nav.weeks {
    background-color: transparent;
    min-height: 2rem;
    z-index: 0 !important;
}

#player-select {
    margin-bottom: 50px;
}

#logo-name {
    margin-top: -5px;
}

#subs-modal .modal-card {
    max-height: calc(100vh - 100px) !important;
    margin: 0 60px;
}

#pay-modal .modal-card {
    margin: 0 40px 160px;
    min-width: 18em;
}

#subs-modal .modal-card-body, #pay-modal .modal-card-body, #add-game-modal .modal-card-body {
    background-color: transparent !important;
    overflow-x: hidden;
}

.nav-toggle {
    height: inherit !important;
}

.nav-toggle:hover {
    background-color: transparent !important;
}

.nav-toggle.is-active span {
    background-color: #7a7a7a;
}

.columns {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.column {
    margin: 5px !important;
}

li.box {
    
    margin-bottom: 0.5rem !important;
}

li.box.paid {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1), inset 0px -5px 0px 0px limegreen;
}

/* highlight a selected li box */
li.box.selected {
    box-shadow:inset 0px 0px 0px 4px;
}

.title#player-name {
    color:#FFC04D;
    margin: 0;
}

#pay-button, #add-game-button {
    background-color: #FFC04D !important;
}

.player-box {
    display: flex;
    flex-flow: row no-wrap;
    position: relative;
    height: 80px;
}
 
.player-box-left {
    flex-shrink: 0;
    align-self: center;
}

.player-box-centre {
    flex: auto;
    padding: 8px 0 0 !important;
}
 
.player-name {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.125;
}
 
.player-monies {
    font-size: 0.7rem;
    font-weight: 300;
    text-align: justify;
}
 
.player-box-right {
    align-self: center;
    position: absolute;
    right: 0;
}

li.box .player-box-left .icon.selected {
    display: none;
}

li.box.selected .player-box-left .icon.selected {
    display: inline-flex;
}

li.box .player-box-left .icon.unselected {
    display: inline-flex;
}

li.box.selected .player-box-left .icon.unselected {
    display: none;
}

li.box .player-box-right .icon {
    display: none;
}

li.box.selected .player-box-right .icon {
    display: inline-flex;
}

.player-box-left a {
    color: #4a4a4a;
}

.player-box-right a {
    color: #4a4a4a;
}